<!-- Header -->
<div class="header">
    <div class="header-left">
        <h1>Researcher Dashboard</h1>
    </div>
    
    <div class="header-center">
        <div class="search-box">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search..." id="header-search">
        </div>
    </div>
    
    <div class="header-right">
        <div class="notification-icon">
            <i class="fas fa-bell"></i>
        </div>
        <div class="user-info">
            <div class="user-details">
                <div class="user-name">Prof. Elena Gilbert</div>
                <div class="user-role">Biology</div>
            </div>
            <div class="user-avatar">
                PG
            </div>
        </div>
    </div>
</div>

